# TABLES

In [83]:
import pandas as pd
import numpy as np
from statistics import mean

In [2]:
#import results from all alg/data set combos

#results from Letter 1
lr_letter1 = pd.read_csv("lr_letter1.csv").set_index("Unnamed: 0")
rf_letter1 = pd.read_csv("rf_letter1.csv").set_index("Unnamed: 0")
knn_letter1 = pd.read_csv("knn_letter1.csv").set_index("Unnamed: 0")

#results from Letter 2
lr_letter2 = pd.read_csv("lr_letter2.csv").set_index("Unnamed: 0")
rf_letter2 = pd.read_csv("rf_letter2.csv").set_index("Unnamed: 0")
knn_letter2 = pd.read_csv("knn_letter2.csv").set_index("Unnamed: 0")

#results from Cover_Type
lr_cov = pd.read_csv("lr_cov.csv").set_index("Unnamed: 0")
rf_cov = pd.read_csv("rf_cov.csv").set_index("Unnamed: 0")
knn_cov = pd.read_csv("knn_cov.csv").set_index("Unnamed: 0")

#results from Mushroom
lr_mush = pd.read_csv("lr_mush.csv").set_index("Unnamed: 0")
rf_mush = pd.read_csv("rf_mush.csv").set_index("Unnamed: 0")
knn_mush = pd.read_csv("knn_mush.csv").set_index("Unnamed: 0")

display(lr_letter1, rf_letter1, knn_letter1)

,Train ACC,Train F1,Train AUC,Test ACC,Test F1,Test AUC
Unnamed: 0,,,,,,
LR Letter 1 Trial 1,0.9618,0.0,0.875447,0.962533,0.0,0.866262
LR Letter 1 Trial 2,0.9618,0.0,0.858784,0.962533,0.0,0.846642
LR Letter 1 Trial 3,0.9632,0.0,0.864379,0.962067,0.0,0.858188
LR Letter 1 Trial 4,0.9628,0.0,0.866015,0.962200,0.0,0.853746
LR Letter 1 Trial 5,0.9624,0.0,0.863934,0.962333,0.0,0.844450

,Train ACC,Train F1,Train AUC,Test ACC,Test F1,Test AUC
Unnamed: 0,,,,,,
RF Letter 1 Trial 1,1.0,1.000000,1.0,0.988067,0.809573,0.997058
RF Letter 1 Trial 2,1.0,1.000000,1.0,0.988467,0.830491,0.997183
RF Letter 1 Trial 3,1.0,0.994536,1.0,0.986867,0.797101,0.997514
RF Letter 1 Trial 4,1.0,1.000000,1.0,0.986867,0.792492,0.996502
RF Letter 1 Trial 5,1.0,1.000000,1.0,0.987133,0.795812,0.996441

,Train ACC,Train F1,Train AUC,Test ACC,Test F1,Test AUC
Unnamed: 0,,,,,,
KNN Letter 1 Trial 1,1.000,1.000000,1.0,0.991400,0.887728,0.995656
KNN Letter 1 Trial 2,1.000,1.000000,1.0,0.990200,0.855184,0.993553
KNN Letter 1 Trial 3,0.996,0.945652,1.0,0.988733,0.849778,0.996428
KNN Letter 1 Trial 4,1.000,1.000000,1.0,0.991467,0.900804,0.996031
KNN Letter 1 Trial 5,1.000,1.000000,1.0,0.990400,0.871429,0.992319

In [22]:
# Appendix Table 2 raw test scores
lr_raw_test_scores = lr_letter1[['Test ACC', 'Test F1', 'Test AUC']]

raw_test_scores = pd.concat([lr_letter1[['Test ACC', 'Test F1', 'Test AUC']],
                             rf_letter1[['Test ACC', 'Test F1', 'Test AUC']],
                             knn_letter1[['Test ACC', 'Test F1', 'Test AUC']],
                             lr_letter2[['Test ACC', 'Test F1', 'Test AUC']],
                             rf_letter2[['Test ACC', 'Test F1', 'Test AUC']],
                             knn_letter2[['Test ACC', 'Test F1', 'Test AUC']],
                             lr_cov[['Test ACC', 'Test F1', 'Test AUC']],
                             rf_cov[['Test ACC', 'Test F1', 'Test AUC']],
                             knn_cov[['Test ACC', 'Test F1', 'Test AUC']],
                             lr_mush[['Test ACC', 'Test F1', 'Test AUC']],
                             rf_mush[['Test ACC', 'Test F1', 'Test AUC']],
                             knn_mush[['Test ACC', 'Test F1', 'Test AUC']]
                            ],
                            axis=0)
raw_test_scores.index.names = ['Algo-Dataset-Trial']
raw_test_scores.to_latex(label = 'Raw test set performance')

raw_test_scores.to_latex() #for writeup

'\\begin{tabular}{lrrr}\n\\toprule\n{} &  Test ACC &   Test F1 &  Test AUC \\\\\nAlgo-Dataset-Trial   &           &           &           \\\\\n\\midrule\nLR Letter 1 Trial 1  &  0.962533 &  0.000000 &  0.866262 \\\\\nLR Letter 1 Trial 2  &  0.962533 &  0.000000 &  0.846642 \\\\\nLR Letter 1 Trial 3  &  0.962067 &  0.000000 &  0.858188 \\\\\nLR Letter 1 Trial 4  &  0.962200 &  0.000000 &  0.853746 \\\\\nLR Letter 1 Trial 5  &  0.962333 &  0.000000 &  0.844450 \\\\\nRF Letter 1 Trial 1  &  0.988067 &  0.809573 &  0.997058 \\\\\nRF Letter 1 Trial 2  &  0.988467 &  0.830491 &  0.997183 \\\\\nRF Letter 1 Trial 3  &  0.986867 &  0.797101 &  0.997514 \\\\\nRF Letter 1 Trial 4  &  0.986867 &  0.792492 &  0.996502 \\\\\nRF Letter 1 Trial 5  &  0.987133 &  0.795812 &  0.996441 \\\\\nKNN Letter 1 Trial 1 &  0.991400 &  0.887728 &  0.995656 \\\\\nKNN Letter 1 Trial 2 &  0.990200 &  0.855184 &  0.993553 \\\\\nKNN Letter 1 Trial 3 &  0.988733 &  0.849778 &  0.996428 \\\\\nKNN Letter 1 Trial 4 &  0.991467 &  0.900804 &  0.996031 \\\\\nKNN Letter 1 Trial 5 &  0.990400 &  0.871429 &  0.992319 \\\\\nLR Letter 2 Trial 1  &  0.723733 &  0.725061 &  0.811628 \\\\\nLR Letter 2 Trial 2  &  0.721200 &  0.719743 &  0.810016 \\\\\nLR Letter 2 Trial 3  &  0.726933 &  0.730100 &  0.813332 \\\\\nLR Letter 2 Trial 4  &  0.720733 &  0.720155 &  0.811495 \\\\\nLR Letter 2 Trial 5  &  0.727600 &  0.735115 &  0.812139 \\\\\nRF Letter 2 Trial 1  &  0.944800 &  0.943772 &  0.989866 \\\\\nRF Letter 2 Trial 2  &  0.949000 &  0.948956 &  0.991298 \\\\\nRF Letter 2 Trial 3  &  0.945933 &  0.946380 &  0.990723 \\\\\nRF Letter 2 Trial 4  &  0.941867 &  0.940852 &  0.989595 \\\\\nRF Letter 2 Trial 5  &  0.945533 &  0.945406 &  0.991432 \\\\\nKNN Letter 2 Trial 1 &  0.954467 &  0.954680 &  0.990726 \\\\\nKNN Letter 2 Trial 2 &  0.956467 &  0.956475 &  0.989199 \\\\\nKNN Letter 2 Trial 3 &  0.957600 &  0.957492 &  0.990757 \\\\\nKNN Letter 2 Trial 4 &  0.954600 &  0.954415 &  0.990531 \\\\\nKNN Letter 2 Trial 5 &  0.956067 &  0.954298 &  0.991027 \\\\\nLR Cov Trial 1       &  0.752292 &  0.749350 &  0.823916 \\\\\nLR Cov Trial 2       &  0.754592 &  0.753594 &  0.824200 \\\\\nLR Cov Trial 3       &  0.751146 &  0.754432 &  0.823931 \\\\\nLR Cov Trial 4       &  0.749372 &  0.745242 &  0.822892 \\\\\nLR Cov Trial 5       &  0.754134 &  0.749598 &  0.823581 \\\\\nRF Cov Trial 1       &  0.823125 &  0.824571 &  0.901347 \\\\\nRF Cov Trial 2       &  0.818861 &  0.818994 &  0.898740 \\\\\nRF Cov Trial 3       &  0.818368 &  0.817499 &  0.900929 \\\\\nRF Cov Trial 4       &  0.819021 &  0.817224 &  0.898909 \\\\\nRF Cov Trial 5       &  0.816037 &  0.814299 &  0.896810 \\\\\nKNN Cov Trial 1      &  0.778432 &  0.782804 &  0.863523 \\\\\nKNN Cov Trial 2      &  0.773107 &  0.775568 &  0.861948 \\\\\nKNN Cov Trial 3      &  0.780987 &  0.782294 &  0.863981 \\\\\nKNN Cov Trial 4      &  0.783334 &  0.780675 &  0.860631 \\\\\nKNN Cov Trial 5      &  0.776303 &  0.774974 &  0.859532 \\\\\nLR Mush Trial 1      &  1.000000 &  1.000000 &  1.000000 \\\\\nLR Mush Trial 2      &  1.000000 &  1.000000 &  1.000000 \\\\\nLR Mush Trial 3      &  1.000000 &  1.000000 &  1.000000 \\\\\nLR Mush Trial 4      &  1.000000 &  1.000000 &  1.000000 \\\\\nLR Mush Trial 5      &  1.000000 &  1.000000 &  1.000000 \\\\\nRF Mush Trial 1      &  1.000000 &  1.000000 &  1.000000 \\\\\nRF Mush Trial 2      &  1.000000 &  1.000000 &  1.000000 \\\\\nRF Mush Trial 3      &  1.000000 &  1.000000 &  1.000000 \\\\\nRF Mush Trial 4      &  1.000000 &  1.000000 &  1.000000 \\\\\nRF Mush Trial 5      &  1.000000 &  1.000000 &  1.000000 \\\\\nKNN Mush Trial 1     &  1.000000 &  1.000000 &  1.000000 \\\\\nKNN Mush Trial 2     &  1.000000 &  1.000000 &  1.000000 \\\\\nKNN Mush Trial 3     &  1.000000 &  1.000000 &  1.000000 \\\\\nKNN Mush Trial 4     &  1.000000 &  1.000000 &  1.000000 \\\\\nKNN Mush Trial 5     &  1.000000 &  1.000000 &  1.000000 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [32]:
# Appendix Table 1 mean training scores
lr_letter1_mean = pd.DataFrame(lr_letter1.mean().to_dict(),index=[lr_letter1.index.values[-1]])
rf_letter1_mean = pd.DataFrame(rf_letter1.mean().to_dict(),index=[rf_letter1.index.values[-1]])
knn_letter1_mean = pd.DataFrame(knn_letter1.mean().to_dict(),index=[knn_letter1.index.values[-1]])

lr_letter2_mean = pd.DataFrame(lr_letter2.mean().to_dict(),index=[lr_letter2.index.values[-1]])
rf_letter2_mean = pd.DataFrame(rf_letter2.mean().to_dict(),index=[rf_letter2.index.values[-1]])
knn_letter2_mean = pd.DataFrame(knn_letter2.mean().to_dict(),index=[knn_letter2.index.values[-1]])

lr_cov_mean = pd.DataFrame(lr_cov.mean().to_dict(),index=[lr_cov.index.values[-1]])
rf_cov_mean = pd.DataFrame(rf_cov.mean().to_dict(),index=[rf_cov.index.values[-1]])
knn_cov_mean = pd.DataFrame(knn_cov.mean().to_dict(),index=[knn_cov.index.values[-1]])

lr_mush_mean = pd.DataFrame(lr_mush.mean().to_dict(),index=[lr_mush.index.values[-1]])
rf_mush_mean = pd.DataFrame(rf_mush.mean().to_dict(),index=[rf_mush.index.values[-1]])
knn_mush_mean = pd.DataFrame(knn_mush.mean().to_dict(),index=[knn_mush.index.values[-1]])


mean_scores = pd.concat([lr_letter1_mean, rf_letter1_mean, knn_letter1_mean, 
                               lr_letter2_mean, rf_letter2_mean, knn_letter2_mean,
                               lr_cov_mean, rf_cov_mean, knn_cov_mean,
                               lr_mush_mean, rf_mush_mean, knn_mush_mean], axis = 0)


mean_scores[['Train ACC', 'Train F1', 'Train AUC']].to_latex()

'\\begin{tabular}{lrrr}\n\\toprule\n{} &  Train ACC &  Train F1 &  Train AUC \\\\\n\\midrule\nLR Letter 1 Trial 5  &    0.96240 &  0.000000 &   0.865712 \\\\\nRF Letter 1 Trial 5  &    1.00000 &  0.998907 &   1.000000 \\\\\nKNN Letter 1 Trial 5 &    0.99920 &  0.989130 &   1.000000 \\\\\nLR Letter 2 Trial 5  &    0.72908 &  0.732474 &   0.815887 \\\\\nRF Letter 2 Trial 5  &    1.00000 &  1.000000 &   1.000000 \\\\\nKNN Letter 2 Trial 5 &    1.00000 &  1.000000 &   1.000000 \\\\\nLR Cov Trial 5       &    0.75968 &  0.757595 &   0.830846 \\\\\nRF Cov Trial 5       &    0.99988 &  0.999760 &   1.000000 \\\\\nKNN Cov Trial 5      &    1.00000 &  1.000000 &   1.000000 \\\\\nLR Mush Trial 5      &    1.00000 &  1.000000 &   1.000000 \\\\\nRF Mush Trial 5      &    1.00000 &  1.000000 &   1.000000 \\\\\nKNN Mush Trial 5     &    1.00000 &  1.000000 &   1.000000 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [82]:
# mean test scores:
mean_test = mean_scores[['Test ACC', 'Test F1', 'Test AUC']]
mean_test

                      Test ACC   Test F1  Test AUC
LR Letter 1 Trial 5   0.962333  0.000000  0.853858
RF Letter 1 Trial 5   0.987480  0.805094  0.996940
KNN Letter 1 Trial 5  0.990440  0.872985  0.994797
LR Letter 2 Trial 5   0.724040  0.726035  0.811722
RF Letter 2 Trial 5   0.945427  0.945073  0.990583
KNN Letter 2 Trial 5  0.955840  0.955472  0.990448
LR Cov Trial 5        0.752307  0.750443  0.823704
RF Cov Trial 5        0.819083  0.818517  0.899347
KNN Cov Trial 5       0.778433  0.779263  0.861923
LR Mush Trial 5       1.000000  1.000000  1.000000
RF Mush Trial 5       1.000000  1.000000  1.000000
KNN Mush Trial 5      1.000000  1.000000  1.000000

In [81]:
# computing averages for main table 1
# each line gets the value for a single cell in the table

#cols of row 1
lr_avg_acc = (mean_test['Test ACC'][0] +mean_test['Test ACC'][3] 
              +mean_test['Test ACC'][6] +mean_test['Test ACC'][9])/4
        
lr_avg_f1 = (mean_test['Test F1'][0] + mean_test['Test F1'][3] 
              +mean_test['Test F1'][6] +mean_test['Test F1'][9])/4
        
lr_avg_auc = (mean_test['Test AUC'][0] + mean_test['Test AUC'][3] 
              +mean_test['Test AUC'][6] +mean_test['Test AUC'][9])/4


#cols of row 2
rf_avg_acc = (mean_test['Test ACC'][1] +mean_test['Test ACC'][7] 
              +mean_test['Test ACC'][4] +mean_test['Test ACC'][10])/4
        
rf_avg_f1 = (mean_test['Test F1'][1] + mean_test['Test F1'][7] 
              +mean_test['Test F1'][4] +mean_test['Test F1'][10])/4
        
rf_avg_auc = (mean_test['Test AUC'][1] + mean_test['Test AUC'][7] 
              +mean_test['Test AUC'][4] +mean_test['Test AUC'][10])/4

#cols of row 3
knn_avg_acc = (mean_test['Test ACC'][2] +mean_test['Test ACC'][5] 
              +mean_test['Test ACC'][8] +mean_test['Test ACC'][11])/4
        
knn_avg_f1 = (mean_test['Test F1'][2] + mean_test['Test F1'][5] 
              +mean_test['Test F1'][8] +mean_test['Test F1'][11])/4
        
knn_avg_auc = (mean_test['Test AUC'][2] + mean_test['Test AUC'][5] 
              +mean_test['Test AUC'][8] +mean_test['Test AUC'][11])/4

data = {'ACC':[lr_avg_acc,rf_avg_acc,knn_avg_acc ], 
        'F1':[lr_avg_f1, rf_avg_f1, knn_avg_f1],
        'AUC':[lr_avg_auc,rf_avg_auc, knn_avg_auc]} 
table_1 = pd.DataFrame(data, index =['LR', 'RF', 'KNN']) 
display(table_1)
table_1.to_latex() #get latex code

          ACC        F1       AUC
LR   0.859670  0.619120  0.872321
RF   0.937997  0.892171  0.971717
KNN  0.931178  0.901930  0.961792

'\\begin{tabular}{lrrr}\n\\toprule\n{} &       ACC &        F1 &       AUC \\\\\n\\midrule\nLR  &  0.859670 &  0.619120 &  0.872321 \\\\\nRF  &  0.937997 &  0.892171 &  0.971717 \\\\\nKNN &  0.931178 &  0.901930 &  0.961792 \\\\\n\\bottomrule\n\\end{tabular}\n'

In [80]:
# computing averages for main table 2
# each line accesses the test, acc, auc scores for a given algo/data set combo
# take the mean across those metrics to get a single value for a cell in a table

# col 1 = letter 1
lr_avg_lttr1 = mean(lr_letter1_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0]) 
rf_avg_lttr1 = mean(rf_letter1_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])
knn_ag_lttr1 = mean(knn_letter1_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])

# col 2 = letter 2
lr_avg_lttr2 = mean(lr_letter2_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])
rf_avg_lttr2 = mean(rf_letter2_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])
knn_ag_lttr2 = mean(knn_letter2_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])

# col 3 = cov_type
lr_avg_cov = mean(lr_cov_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])
rf_avg_cov = mean(rf_cov_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])
knn_ag_cov = mean(knn_cov_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])

# col 4 = mushroom
lr_avg_mush = mean(lr_mush_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])
rf_avg_mush = mean(rf_mush_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])
knn_ag_mush = mean(knn_mush_mean[['Test ACC', 'Test F1', 'Test AUC']].values.tolist()[0])

data2 = {'LTTR1':[lr_avg_lttr1,rf_avg_lttr1,knn_ag_lttr1 ], 
        'LTTR2':[lr_avg_lttr2, rf_avg_lttr2, knn_ag_lttr2],
        'COV':[lr_avg_cov,rf_avg_cov, knn_ag_cov],
        'MUSH': [lr_avg_mush,rf_avg_mush,knn_ag_mush]} 
table_2 = pd.DataFrame(data2, index =['LR', 'RF', 'KNN']) 
display(table_2)
table_2.to_latex() #get latex code

        LTTR1     LTTR2       COV  MUSH
LR   0.605397  0.753932  0.775485   1.0
RF   0.929838  0.960361  0.845649   1.0
KNN  0.952741  0.967253  0.806540   1.0

'\\begin{tabular}{lrrrr}\n\\toprule\n{} &     LTTR1 &     LTTR2 &       COV &  MUSH \\\\\n\\midrule\nLR  &  0.605397 &  0.753932 &  0.775485 &   1.0 \\\\\nRF  &  0.929838 &  0.960361 &  0.845649 &   1.0 \\\\\nKNN &  0.952741 &  0.967253 &  0.806540 &   1.0 \\\\\n\\bottomrule\n\\end{tabular}\n'